{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mentaiko University</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

  <!-- Including css for Animation -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body class="index-background">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Mentaiko University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link white" href="#"><span class="login-button">Log in</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="index-top-container jumbotron my-5 white">
      <h1 class="display-3" style="text-align:center">Welcome to</br>Mentaiko University！</h1></br></br>
      <p style="text-align:center">
        こんにちは！こちらは明太子大学生専用のホームページです。</br>
        学生限定コンテンツが盛りだくさんです！</br>
        まずはどんなことができるのか見てみましょう！
      </p>
    </header>

    <!-- Page Features -->
    <div class="row index-contents-container">

      <div class="exp-of-contents col-12" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom"> 
        <div class="index-image" data-aos="flip-left" data-aos-once="true">
          <img src="{% static "image/timetable_sample.png"%}" width="300px" height="auto" alt="">
        </div>
        <div class="index-text float-right text-left" data-aos="fade-up" data-aos-once="true">
          <h3 class="index-text-title">時間割</br></h3>
          <p>
            大学からは自分で履修科目を選択する必要があります。</br>
            このページでは学科や学年に合わせて必修科目が自動で入力されます。</br>
            これで履修漏れによる留年の心配もありません！</br>
            公開されている先輩や同級生の履修も参考にできます。</br>
            計画的な時間割を完成させましょう！
          </p>
        </div>
      </div>

      <div class="exp-of-contents col-12" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom">
        <div class="index-text float-right text-left" data-aos="fade-up" data-aos-once="true">
          <h3 class="index-text-title">交流掲示板</br></h3>
          <p>
            リモート授業が当たり前になった現在、</br>
            学校に行かずして友人を作るのは至難の業です。</br>
            交流掲示板を利用して、明太子大学の学生と交流してみませんか？</br>
            弊大学には約1万人の学生が在籍しています。</br>
            あなたと共通の趣味を持った人も必ずいるはず！</br>
            気軽に参加してみましょう！</br>
          </p>
        </div>
        <div class="index-image" data-aos="flip-left" data-aos-once="true">
          <img src="{% static "image/chat_image.png"%}" width="300px" height="auto" alt="">
        </div>
      </div>
      
      <div class="exp-of-contents col-12" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom">
        <div class="index-image" data-aos="flip-left" data-aos-once="true">
          <img src="{% static "image/circle_sample.png"%}" width="300px" height="auto" alt="">
        </div>
        <div class="index-text float-right text-left" data-aos="fade-up" data-aos-once="true">
          <h3 class="index-text-title">部活・サークル</br></h3>
          <p>
            明太子大学に存在する部活やサークルのSNS情報を掲載しています。</br>
            実は、明太子大学には100を超える部活・サークルがあります！</br>
            現在は対面の活動は禁止されていますので、</br>
            オンラインで先輩や同級生と交流してみませんか？</br>
            中には現在もオンラインで活動するサークルがあるようです！</br>
            是非、あなたにぴったりの部活・サークルを探してみてください！</br>
          </p>
        </div>
      </div>



      <div class="index-entry col-12 mb-4" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom">
        <h1 class="text-center pt-5 pb-5">参加してみよう！</h1>
        <div class="pl-5 pr-5 pt-3 pb-3">
          <p>
            本サイトのコンテンツはすべて大学の学生専用です。</br>
            そのため、利用するためには<u>学校専用メールアドレス(xx@mentai.jp) (※)</u>で、参加登録をする必要があります。</br>
            <ul>
              <li>履修で何を取ればいいかわからないとき</li>
              <li>大学生活における便利な情報を知りたいとき</li>
              <li>自分に合った友人やサークルを見つけたいとき</li>
            </ul>
            是非本サイトを有効活用してくださいね！</br>
          </p>
        </div>
        <p class="pl-5 pr-5 pt-3">(※)学校専用メールアドレスは入学手続き書類内に同封されています。</p>
        <div class="text-center pt-3 pb-3">
          <h3 class="pt-3 pb-3">参加登録は下のボタンから！</h3>
          <a href="#" style="font-size: 15pt;" class="btn btn-info mb-3 mt-3 index-btn">新規登録</a>
        </div>
        <div class="text-center pt-3 pb-3">
          <h3 class="pt-3 pb-3">既に登録済みの人は下のボタンから！</h3>
          <a href="#" style="font-size: 15pt;" class="btn btn-primary mb-3 mt-3 index-btn">ログイン</a>
        </div>
      </div>
      


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Team-I Mentaiko 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
    AOS.init();
  </script>
</body>
</html>
