{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>ホーム|Mentaiko University</title>
  
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">
  
  </head>

  <style>
    div.hoge{
    clear:both;
    float:left;
    width:200px;
    }
  </style>

  <body>
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../">Mentaiko University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link white" href="/login"><span class="login-button">Log in</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <div class="container" style="text-align:center;">
      <header class="jumbotron my-4 white">
        <h1 class="display-3">登録ページ</h1>
      </header>

      <form method="POST">{%csrf_token%}
        <div class="item">
          <div class="hoge"><label class="label">苗字</label></div>
          <div><input class="inputs" type="text" name="username_family"></div>
        </div>
        <hr>

        <div class="item">
          <div class="hoge"><label class="label">名前</label></div>
          <div><input class="inputs" type="text" name="username_first"></div>
        </div>
        <hr>

        <div class="item">
          <div class="hoge"><label class="label">メールアドレス</label></div>
          <div><input class="inputs" type="email" name="email"></div>
        </div>
        <hr>

        <div class="item">
          <div class="hoge"><div class="label">学年</div></div>
          <div class="inputs">
            <select name="grade">
              <option value="1">B1</option>
              <option value="2">B2</option>
              <option value="3">B3</option>
              <option value="1">B4</option>
              <option value="2">M1</option>
              <option value="3">M2</option>
            </select>
          </div>
        </div>
        <hr>

        <div class="item">
          <div class="hoge"><div class="label">学科</div></div>
          <div class="inputs">
            <select name="department">
              <option value="1">情報工学</option>
              <option value="2">機械工学</option>
              <option value="3">経営工学</option>
            </select>
          </div>
        </div>
        <hr>

        <div class="item">
          <div class="hoge"><label class="label">password</label></div>
          <div><input class="inputs" type="password" name="enter_password"></div>
        </div>
        <hr>

        <input class="btn btn-info mb-3 mt-3 index-btn" type="submit" value="登録" />

      </form>

      <p>or</br><a href= "{% url 'login' %}" class="btn btn-primary mb-3 mt-3 index-btn">ログイン</a></p>

    </div>

  </body>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Team-I Mentaiko 2021</p>
    </div>
    <!-- /.container -->
  </footer>

</html>