{% load static %}
<!DOCTYPE html>
<html lang="ja">




<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>時間割|Mentaiko University</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">
  <link href="{% static 'css/timetable.css' %}" rel="stylesheet">

  <!-- Including Intro.js -->
  <link href="https://unpkg.com/intro.js/minified/introjs.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">Mentaiko University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/timetable">時間割</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">チャット</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/circle">サークル</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href="#"><span class="login-button" data-title="ログイン/サインアップ">博多 明太子</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 white">
      <h1 class="display-3">時間割</h1>
      <p class="lead">必修科目・・赤，選択科目・・白</p>
      <a href="#" id="btn-tutorial" class="btn btn-primary btn-lg" href="javascript:void(0);" onclick="introJs().start();">How to use?</a>
    </header>

    <!-- 時間割テーブル本体-->
    <table class="ehr-timetable" id="ehr-timetable" data-step="1" data-intro="ここではあなたの時間割を登録できます。" data-title="チュートリアル">
      <tr>
      <th class="ehr-timetable-hiddencell"></th>
        <td class="ehr-timetable-daycell">月</td>
        <td class="ehr-timetable-daycell">火</td>
        <td class="ehr-timetable-daycell">水</td>
        <td class="ehr-timetable-daycell">木</td>
        <td class="ehr-timetable-daycell">金</td>
        <td class="ehr-timetable-daycell">土</td>
      </tr>
    </table>

    <!-- ポップアップ -->
    <div class="modal fade" id="ehr-Modal" tabindex="-1">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-header">
    				<h4 class="modal-title">N曜日 M限目</h4>
    			</div>
          <div class="cp_ipselect cp_sl04">
            <select name="new-subject" id="new-subject"></select><br>
          </div>
    			<div class="modal-body">
            <div id="ehr-subject-note">
              <div>
                メモ
              </div>
    				  <textarea class="subject-note" id="subject-note" cols="40" rows="5" wrap="soft"></textarea>
            </div>
          </div>
    			<div class="modal-footer">
            <button type="button" class="btn btn-delete" onclick="modalDeleteButtonClick()">削除</button>
    				<button type="button" class="btn btn-cancel" data-dismiss="modal">キャンセル</button>
    				<button type="button" class="btn btn-submit" onclick="modalButtonClick()">保存</button>
    			</div>
    		</div>
    	</div>
    </div>



  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Team-I Mentaiko 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="https://unpkg.com/intro.js/minified/intro.min.js"></script>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyDCHZbRj-1SEw4mDLCfMhxW9eNSRGvmIPU",
      authDomain: "mentaiko-b1515.firebaseapp.com",
      projectId: "mentaiko-b1515",
      storageBucket: "mentaiko-b1515.appspot.com",
      messagingSenderId: "147300021097",
      appId: "1:147300021097:web:03b93f15415244945383f8",
      measurementId: "G-BR0ZB7KWX1"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    //databaseから読み込み
    var db = firebase.firestore();


    //選択中の時間割
    var day = -1
    var timed = -1
    var tutorial = 0

    //
    var userTimetable = new Object();



    //科目群
    var s1 = ["キャリア教育基礎","化学概論","プログラミング基礎","線形代数学","微分積分学","基礎科学実験","物理学概論","数学演習第一"];
    var s2 = ["数理統計学","体育","物理学演習","心理学A","経済学A","歴史A","線形代数学","政治A","倫理学A","独語第一","露語第一","仏語第一","中国語第一"];
    //時間割作成
    getUserTimetable();


    //ユーザの時間割取得
    function getUserTimetable(){
      db.collection("userTimetable").get().then((query) => {
        var utt = {
          "Mon":{"1":"a","2":"","3":"","4":"","5":"","6":"","7":""},
          "Tue":{"1":"","2":"","3":"","4":"","5":"","6":"","7":""},
          "Wed":{"1":"","2":"","3":"","4":"","5":"","6":"","7":""},
          "Thu":{"1":"","2":"","3":"","4":"","5":"","6":"","7":""},
          "Fri":{"1":"","2":"","3":"","4":"","5":"","6":"","7":""},
          "Sat":{"1":"","2":"","3":"","4":"","5":"","6":"","7":""}
        };
        var days = ["Mon","Tue","Wed","Thu","Fri","Sat"];
        query.forEach((doc) => {
          var data = doc.data();
          for (var j=1;j<=7;j++){
            utt[doc.id][j]=JSON.parse(doc.data()[j]);
          }
        });
        console.log(utt);
        createUserTimetable(utt);
      })
      .catch((error)=>{
        console.log(`データの取得に失敗しました (${error})`);
        return;
      });
    }

    function createUserTimetable(utt){
      userTimetable = utt;
      var timeTable = document.getElementById("ehr-timetable");
      for (var i = 0; i < 7; i++) {
          var tr = document.createElement('tr');
          for (var j = 0; j < 7; j++) {
              if(j === 0) {
                  var th = document.createElement('th');
                  th.textContent = i + 1 + " 限";
                  tr.appendChild(th);
              } else {
                  var td = document.createElement('td');
                  //ここにデータベースから持ってきた値突っ込む{科目名,必修選択,メモ,講義教室,zoomURL}
                  var d = Object.keys(utt);
                  //console.log(utt[d[j-1]][i+1]['subject']);
                  td.textContent = utt[d[j-1]][i+1]['subject'];
                  td.id = "ehr-timetable-" + (i + 1) + "-" + j
                  if(utt[d[j-1]][i+1]['flag'] === "1"){
                    td.style.backgroundColor = "#e9967a";
                  }
                  //月曜一限にtutorialJS
                  if (i === 0 && j === 1){
                    td.setAttribute("data-step","2");
                    td.setAttribute("data-intro","必修科目はこの色で表示されます。これらは自動で登録されています。");
                    td.setAttribute("data-title","チュートリアル");
                  }
                  //水曜一限にtutorialJS
                  if (i === 0 && j === 3){
                    td.setAttribute("data-step","3");
                    td.setAttribute("data-intro","空いているコマを選択し、選択科目を登録していきましょう。");
                    td.setAttribute("data-title","チュートリアル");
                  }
                  tr.appendChild(td);
                  td.addEventListener("click", {day: j, timed:i+1, handleEvent: onCellClick});
              }
          }
          timeTable.appendChild(tr);
      }
    }

    //セルクリック
    function onCellClick(e){
      //
      initselectSubject();

      var days = ["月","火","水","木","金","土"];
      day = Number(this.day-1);
      timed = this.timed
      var modal = $('#ehr-Modal');
      modal.find('.modal-title').text(days[day] + "曜日 " + timed + " 時限目")

      //モーダル作成
      var subjects = [
        [["数理統計学","キャリア教育基礎"],["数理統計学"],["体育","物理学演習"],["化学概論"],[""],[""],[""]],
        [["プログラミング基礎"],["プログラミング基礎"],[""],[""],[""],[""],[""]],
        [["心理学A","経済学A","歴史A"],["線形代数学"],["微分積分学"],["政治A","倫理学A"],[""],[""],[""]],
        [["基礎科学実験"],["基礎科学実験"],["体育"],["体育"],[""],[""],[""]],
        [["独語第一","露語第一","仏語第一","中国語第一"],["物理学概論"],["体育","数学演習第一"],[""],[""],[""],[""]],
        [[""],["数理統計学"],["体育"],[""],[""],[""],[""]]]
      var selectSubject = document.getElementById('new-subject');
      var slectedSubject = document.getElementById("ehr-timetable-" + timed + "-" + (day+1));
      for(var i = 0; i < subjects[day][timed-1].length; i++){
        if(subjects[day][timed-1][i] !== ""){
          var option = document.createElement('option');
          option.setAttribute('value', subjects[day][timed-1][i]);
          option.innerHTML = subjects[day][timed-1][i];
          option.id = "select-option"
          if (slectedSubject.textContent === subjects[day][timed-1][i]){
            option.selected = true
          }
          selectSubject.appendChild(option);
        }
      };
      console.log(userTimetable);
      var subjectNote = document.getElementById('subject-note');
      var d = Object.keys(userTimetable);
      if (userTimetable[d[day]][timed]['note'] === ""){
        subjectNote.value = "";
      } else {
        subjectNote.value = userTimetable[d[day]][timed]['note'];
        //console.log(userTimetable[d[day]][timed]['note']);
      }
      //console.log(slectedSubject.textContent);
      modal.modal();
    }


    //モーダルの「保存」ボタンクリック時の動作
    function modalButtonClick(){
      try {
        var days = ["Mon","Tue","Wed","Thu","Fri","Sat"];
        var newSubject = document.getElementById("new-subject").value;
        var newNote = document.getElementById("subject-note").value;
        userTimetable[days[day]][timed]["subject"] = newSubject;
        userTimetable[days[day]][timed]["note"] = newNote;
        if (newSubject !== ""){
          var td = document.getElementById("ehr-timetable-" + timed + "-" + (day+1));
          td.textContent = newSubject;
          if (s1.indexOf(newSubject) === -1){
            td.style.backgroundColor = "#eeeeee";
          } else {
            td.style.backgroundColor = "#e9967a";
          }
        }
        $('#ehr-Modal').modal('hide');
      } catch (error){
        console.log(error)
        $('#ehr-Modal').modal('hide');
      }
      initselectSubject();
      console.log(userTimetable);
    }

    //selectタグの子要素初期化
    function initselectSubject(){
      var selectSubject = document.getElementById('new-subject');
      while (selectSubject.firstChild) {
        selectSubject.removeChild(selectSubject.firstChild);
      }
    }



    //モーダルの削除ボタン押下時の処理
    function modalDeleteButtonClick(){
      var days = ["Mon","Tue","Wed","Thu","Fri","Sat"];
      var td = document.getElementById("ehr-timetable-" + timed + "-" + (day+1));
      td.textContent = "";
      td.style.backgroundColor = "#eeeeee";
      userTimetable[days[day]][timed]["subject"] = "";
      userTimetable[days[day]][timed]["note"] = "";
      $('#ehr-Modal').modal('hide');
    }





    //チュートリアルイベント
    document.getElementById('btn-tutorial').addEventListener('click', function(event) {
      tutorial = 1;
    });




    //user_timetable(id text, name text, Mon text, Tue text, Wed text, Thu text, Fri text, Sat text)

//{'' : '','' : '','' : '','' : '','' : '','' : '','' : '','' : ''}


  </script>




</body>

</html>
