.subject_review_lists {
  padding: 0;
}

.subject_review_list {
  color: #404040;
  border-left: solid 6px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}

.review-rating {
  position: relative;

  display:inline-block;
  font-size: 25px;
}
.review-rating .review-rating-item{
  position:absolute;

  overflow: hidden;
}
.review-rating .review-rating-item:before{
  content:"★★★★★";
  color: #ffcc33;
}
.review-rating:after {
  content:"★★★★★";
  color: #ccc;
}

.btn-review{
  width: 100%;
  margin: 30px auto;
}

.review_button{
  display:block;
  width: 100%;
}

.review_author{
  text-align: right;
}

.error_msg{
  text-align: center;
  color: red;
}

.review-author, .review-text{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-height: 170px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #4169e1;
  font-size: 14px;
  outline: none;
  line-height: 1.6;
  resize: vertical;
}


/*インプットタイプ★★★★★*/
.fiveStar {
display: flex;
flex-direction: row-reverse;
justify-content: center;
}
.fiveStar input[type='radio']{
display: none;
}
.fiveStar label.star{
position: relative;
padding: 20px 10px 0;
color: gray;
cursor: pointer;
font-size: 50px;
}
.fiveStar label.star span.evaluation{
position: absolute;
left: 0;

top: 0;
right: 0;
text-align: center;
font-size: 12px;
color: gray;
width: 100px;
}
.fiveStar label.star:hover,
.fiveStar label.star:hover ~ label.star,
.fiveStar input[type='radio']:checked ~ label.star{
color: #ffcc00;
}
